.container{
    margin-top: 50px;
    margin-bottom: 80px;
}
.todo_form{
    width: 280px;
    display: flex;
}
.input{
    width: 250px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid black;
}
.todo_button{
    width: 60px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
}
